* {
    margin: 0;
    padding: 0;
}


body {
    background: #F0F5F9;
    height: 100vh;
    text-align: center;
    /* extras*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    /* margin: 0; */
}

a {
    font-size: 20px;
}

.header {
    font-size: 40px;
    font-weight: bold;
    background: #F9F7F7;
    padding: 0.4em;
    text-align: center;

}

.section {
    margin: 0% 3%;
    min-height: 83vh;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    text-align: center;
}

.section2 {
    margin-left: 10px;
    margin-right: 10px;
    /* background-color: #C9D6DF; */

}

h4 {
    font-size: 30px;
}

.fig-caption {
    font-size: 40px;
    text-indent: left;
}

.footer {
    font-size: 25px;
    font-weight: 400;
    background: #F9F7F7;
    padding: 0.4em;
    text-align: center;
    margin: 30px auto;
}

#image {
    margin: 20px auto;
    /* border: 10px; */
}

.paragraph {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    line-height: 30px;
    text-align: left;
    text-indent: 50px;
}

.section1 {
    margin: 20px auto;
    text-align: left;
    text-indent: left;

}

#headline {
    text-align: center;
    margin: 10px auto;
}

ul {
    margin: 20px 20%;
    line-height: 40px;
}

.quote {
    font-size: 20px;
    font-style: italic;
}